{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 75vh;">
        <div class="col-md-6 text-center">
            <h1 class="display-1 text-danger font-weight-bold">404</h1>
            <h2 class="text-muted mb-4">Sahifa topilmadi</h2>
            <p class="lead mb-4">Kiritgan havolangiz mavjud emas yoki o'chirilgan bo'lishi mumkin.</p>
            <a href="/" class="btn btn-lg btn-primary">Bosh sahifaga qaytish</a>
        </div>
    </div>
</div>
{% endblock %}