{% extends 'base.html' %}
{% load manager_tags %}

{% block main %}

<!-- Types Section -->
<div class="container my-5">
    {% if not types %}
        {% all_types as types %}
    {% endif %}

    {% if types %}
    <h2 class="text-center mb-4">Turlar</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for type in types %}
        <div class="col">
            <div class="card h-100 shadow-sm border-light">
                <div class="card-body">
                    <h5 class="card-title">{{ type.name }}</h5>
                    <p class="card-text">{{ type.created_at }}</p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'type_detail' type.id %}" class="btn btn-primary w-100">Turlarga o'tish</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center mb-4">Hozirda turlar mavjud emas.</h2>
    {% endif %}
</div>
<!-- End types section  -->

<!-- Flowers Section -->
<div class="container my-5">
    {% if flowers %}
    <h2 class="text-center mb-4">Gullar</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for flower in flowers %}
        <div class="col">
            <div class="card shadow-sm border-light">
                <div class="card-body">
                    <h5 class="card-title">{{ flower.name }}</h5>
                    <p class="card-text">{{ flower.type.name }}</p>
                    <a href="{% url 'flower_detail' flower.id %}" class="btn btn-outline-primary w-100">
                        <i class="fas fa-info-circle"></i> Batafsil
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center mb-4">Hozirda gullar mavjud emas.</h2>
    {% endif %}
</div>
<!-- Endi flowers section -->

{% endblock main %}